name: Deploy via SSH

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: easingthemes/ssh-deploy@v4.1.10
        with:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          REMOTE_HOST: 162.240.156.222
          REMOTE_USER: iscondev
          REMOTE_PORT: 22022
          SOURCE: ./
          TARGET: /home/iscondev/public_html/
          ARGS: "-rlgoDzvc --delete"
