name: Deploy via SSH

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy via SSH (rsync)
        uses: easingthemes/ssh-deploy@v4.1.10
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
          remote-user: iscondev        # ← usuário principal do cPanel
          server-ip: 162.240.156.222
          port: 22022
          remote-path: /home/iscondev/public_html/
          local-path: ./
          rsync-options: "--delete"
